
# Glue Studio Notebook
You are now running a **Glue Studio** notebook; before you can start using your notebook you *must* start an interactive session.

## Available Magics
|          Magic              |   Type       |                                                                        Description                                                                        |
|-----------------------------|--------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------|
| %%configure                 |  Dictionary  |  A json-formatted dictionary consisting of all configuration parameters for a session. Each parameter can be specified here or through individual magics. |
| %profile                    |  String      |  Specify a profile in your aws configuration to use as the credentials provider.                                                                          |
| %iam_role                   |  String      |  Specify an IAM role to execute your session with.                                                                                                        |
| %region                     |  String      |  Specify the AWS region in which to initialize a session.                                                                                                 |
| %session_id                 |  String      |  Returns the session ID for the running session.                                                                                                          |
| %connections                |  List        |  Specify a comma separated list of connections to use in the session.                                                                                     |
| %additional_python_modules  |  List        |  Comma separated list of pip packages, s3 paths or private pip arguments.                                                                                 |
| %extra_py_files             |  List        |  Comma separated list of additional Python files from S3.                                                                                                 |
| %extra_jars                 |  List        |  Comma separated list of additional Jars to include in the cluster.                                                                                       |
| %number_of_workers          |  Integer     |  The number of workers of a defined worker_type that are allocated when a job runs. worker_type must be set too.                                          |
| %glue_version               |  String      |  The version of Glue to be used by this session. Currently, the only valid options are 2.0 and 3.0 (eg: %glue_version 2.0).                               |
| %security_config            |  String      |  Define a security configuration to be used with this session.                                                                                            |
| %sql                        |  String      |  Run SQL code. All lines after the initial %%sql magic will be passed as part of the SQL code.                                                            |
| %streaming                  |  String      |  Changes the session type to Glue Streaming.                                                                                                              |
| %etl                        |  String      |  Changes the session type to Glue ETL.                                                                                                                    |
| %status                     |              |  Returns the status of the current Glue session including its duration, configuration and executing user / role.                                          |
| %stop_session               |              |  Stops the current session.                                                                                                                               |
| %list_sessions              |              |  Lists all currently running sessions by name and ID.                                                                                                     |
| %worker_type                |  String      |  Standard, G.1X, *or* G.2X. number_of_workers must be set too. Default is G.1X.                                                                           |
| %spark_conf                 |  String      |  Specify custom spark configurations for your session. E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer.                      |

In [6]:
# Setup Spark and Glue configurations

%glue_version 3.0
%spark_conf spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog
%spark_conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension
%number_of_workers 2

%%configure
{
  "--datalake-formats": "delta"
}

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 0.37.0
Setting Glue version to: 3.0
Previous Spark configuration: None
Setting new Spark configuration to: spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog
Previous Spark configuration: spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog
Setting new Spark configuration to: spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension
Previous number of workers: 5
Setting new number of workers to: 2
The following configurations have been updated: {'--datalake-formats': 'delta'}

In [1]:
# Setup Python and Spark libraries
import sys
from awsglue.transforms import *
from pyspark.sql.functions import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
from pyspark.sql import functions as fn
from urllib.request import urlopen
from pyspark.sql.functions import udf
import hashlib
import urllib.request
from io import StringIO

from delta.tables import *
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, array, ArrayType, DateType, TimestampType, FloatType
import json

sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
#spark = glueContext.spark_session
spark = SparkSession \
            .builder \
            .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
            .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
            .getOrCreate()

job = Job(glueContext)

Authenticating with environment variables and user-defined glue_role_arn: arn:aws:iam::175908995626:role/glue-role
Trying to create a Glue session for the kernel.
Worker Type: G.1X
Number of Workers: 2
Session ID: 9ea615dc-f815-473c-a9fd-7b09521be37c
Job Type: glueetl
Applying the following default arguments:
--glue_kernel_version 0.37.0
--enable-glue-datacatalog true
--conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension
--datalake-formats delta
Waiting for session 9ea615dc-f815-473c-a9fd-7b09521be37c to get into ready status...
Session 9ea615dc-f815-473c-a9fd-7b09521be37c has been created.

In [2]:
# Send arguments to the job

sys.argv+=["--S3_BUCKET", "aws-analytics-course"]
sys.argv+=["--BRONZE_LAYER_NAMESPACE", "bronze/dms/sales"]
sys.argv+=["--BRONZE_LAYER_ECOMMERCE_NAMESPACE", "bronze/kinesis"]
sys.argv+=["--SILVER_LAYER_NAMESPACE", "silver"]
sys.argv+=["--JOB_DATE", "2023/01/12/18"]
sys.argv+=["--TABLES", "{\"store_orders\": \"currency\", \"store_customers\": \"country\", \"products\": \"product_category\"}"]
sys.argv+=["--JOIN_COLUMNS_DELTA", "{\"store_orders\": \"order_number\", \"store_customers\": \"email\",  \"products\": \"product_id\"}"]
sys.argv+=["--JOIN_COLUMNS_INCREMENTAL", "{\"store_orders\": \"order_number\", \"store_customers\": \"email\", \"products\": \"product_category\"}"]
sys.argv+=["--CURRENCY_CONVERSION_URL", "https://api.exchangerate-api.com/v4/latest/usd"]
sys.argv+=["--ECOMMERCE_LOGS_BUCKET", "aws-analytics-incoming"]
sys.argv+=["--ECOMMERCE_STREAM_DATE", "2023/01/11/23"]

args = getResolvedOptions(sys.argv,["S3_BUCKET", "BRONZE_LAYER_NAMESPACE", "BRONZE_LAYER_ECOMMERCE_NAMESPACE", "SILVER_LAYER_NAMESPACE", "JOB_DATE", "TABLES", "JOIN_COLUMNS_DELTA", "JOIN_COLUMNS_INCREMENTAL", "CURRENCY_CONVERSION_URL", "ECOMMERCE_LOGS_BUCKET", "ECOMMERCE_STREAM_DATE"])

In [3]:
currency_conversion_response = urlopen(args['CURRENCY_CONVERSION_URL'])
currency_conversion_json = json.loads(currency_conversion_response.read())

In [4]:
def get_currency_conversion(currency_conversion_json, currency):
    return currency_conversion_json['rates'][currency]

In [5]:
def curate_sales_price(currency, sales_price):
  if (currency != 'USD'):
    curated_value = float(sales_price)/float(get_currency_conversion(currency_conversion_json, currency))
    return float(curated_value)
  else:
    return float(sales_price)
curate_sales_price_udf = udf(curate_sales_price, FloatType())

In [6]:
def mask_value(column):
  mask_value = hashlib.sha256(column.encode()).hexdigest()
  return mask_value

mask_udf = udf(mask_value, StringType())

In [7]:
def ip_to_country(ip):
  ipsplit = ip.split(".")
  ip_number=16777216*int(ipsplit[0]) + 65536*int(ipsplit[1]) + 256*int(ipsplit[2]) + int(ipsplit[3])  
  return ip_number

ip_to_country_udf = udf(ip_to_country, StringType())

In [8]:
def get_dataframe(BRONZE_TABLE_PATH):
    try:
        df_read_data_incremental = spark.read                             \
                                            .option("header", "true")         \
                                            .option("inferSchema", "true")    \
                                            .csv(BRONZE_TABLE_PATH)

        df_read_data_incremental=curate_columns(df_read_data_incremental)
        df_read_data_incremental = df_read_data_incremental.drop('Op')
        df_read_data_incremental.printSchema()
        df_read_data_incremental.show(10)
        return df_read_data_incremental
    except:
        return 0

In [9]:
def merge_to_delta(SILVER_TABLE_PATH, BRONZE_TABLE_PATH, JOB_DATE, JOIN_COLUMN_DELTA, JOIN_COLUMN_INCREMENTAL):
    DELTA_TABLE_ALIAS="delta_table"
    INCREMENTAL_TABLE_ALIAS="data_incremental"
    JOIN_CONDITION=DELTA_TABLE_ALIAS + "." + JOIN_COLUMN_DELTA + "=" + INCREMENTAL_TABLE_ALIAS + "." + JOIN_COLUMN_INCREMENTAL
    df_read_data_incremental = get_dataframe(BRONZE_TABLE_PATH + "/" + JOB_DATE + "/" + "*.csv")
    if df_read_data_incremental != 0:
        deltaTable = DeltaTable.forPath(spark, SILVER_TABLE_PATH)
        if deltaTable:
            print("Delta table exists")
            deltaTable.alias(DELTA_TABLE_ALIAS).merge(
                    source=df_read_data_incremental.alias(INCREMENTAL_TABLE_ALIAS),
                    condition=fn.expr(JOIN_CONDITION)) \
                    .whenMatchedUpdateAll()            \
                    .whenNotMatchedInsertAll()         \
                    .execute()

In [10]:
def merge_data_to_delta(BRONZE_TABLE_PATH, SILVER_TABLE_PATH, JOB_DATE, TABLE, PARTITION_COLUMN, JOIN_COLUMN_DELTA, JOIN_COLUMN_INCREMENTAL):
    try:   
        deltaTable = DeltaTable.forPath(spark, SILVER_TABLE_PATH)
        if deltaTable:
            print("Delta table exists")
            merge_to_delta(SILVER_TABLE_PATH, BRONZE_TABLE_PATH, JOB_DATE, JOIN_COLUMN_DELTA, JOIN_COLUMN_INCREMENTAL)
    except:
        print("Delta table does not exist")
        df_read_data_full = get_dataframe(BRONZE_TABLE_PATH + "/" + "LOAD00000001.csv")
        df_read_data_full.write.format("delta").save(SILVER_TABLE_PATH)
        merge_to_delta(SILVER_TABLE_PATH, BRONZE_TABLE_PATH, JOB_DATE, JOIN_COLUMN_DELTA, JOIN_COLUMN_INCREMENTAL)

In [11]:
def curate_email(email):
  curated_value = email.lower()
  return curated_value

curate_email_udf = udf(curate_email, StringType())

In [12]:
def curate_country(country):
  if (country == 'USA' or country == 'United States'):
    curated_value = 'USA'
  elif (country == 'UK' or country == 'United Kingdom'):
    curated_value = 'UK'
  elif (country == 'CAN' or country == 'Canada'):
    curated_value = 'CAN'
  elif (country == 'IND' or country == 'India'):
    curated_value = 'IND'
  else:
    curated_value = country
  return curated_value

curate_country_udf = udf(curate_country, StringType())

In [13]:
def curate_columns(df):
    if "order_date" in df.columns:
        df = df.withColumn("order_date", to_date(df.order_date,  'MM/dd/yyyy'))
    if "updated_at" in df.columns:
        df = df.withColumn("updated_at", to_timestamp(df.updated_at,  'yyyy-MM-dd HH:mm:ss')) 
    if "sale_price" in df.columns:
        df = df.withColumn('sale_price_usd',curate_sales_price_udf('currency', 'sale_price'))
    if "email" in df.columns:
        df = df.withColumn('email_curated',curate_email_udf('email')).drop('email').withColumnRenamed('email_curated', 'email')
    if "country" in df.columns:
        df = df.withColumn('country_curated',curate_country_udf('country')).drop('country').withColumnRenamed('country_curated', 'country')
    if "phone" in df.columns:
        df = df.withColumn('phone_masked',mask_udf('phone')).drop('phone').withColumnRenamed('phone_masked', 'phone')
    if "credit_card" in df.columns:
        df = df.withColumn("credit_card",df.credit_card.cast(StringType()))
        df = df.withColumn('credit_card_masked',mask_udf('credit_card')).drop('credit_card').withColumnRenamed('credit_card_masked', 'credit_card')
    if "address" in df.columns:
        df = df.withColumn('address_masked',mask_udf('address')).drop('address').withColumnRenamed('address_masked', 'address')
    return df

In [ ]:
def flatten(df):
   # compute Complex Fields (Lists and Structs) in Schema   
   complex_fields = dict([(field.name, field.dataType)
                             for field in df.schema.fields
                             if type(field.dataType) == ArrayType or  type(field.dataType) == StructType])
   while len(complex_fields)!=0:
      col_name=list(complex_fields.keys())[0]
      #print ("Processing :"+col_name+" Type : "+str(type(complex_fields[col_name])))
    
      # if StructType then convert all sub element to columns.
      # i.e. flatten structs
      if (type(complex_fields[col_name]) == StructType):
         expanded = [col(col_name+'.'+k).alias(col_name+'_'+k) for k in [ n.name for n in  complex_fields[col_name]]]
         df=df.select("*", *expanded).drop(col_name)
    
      # if ArrayType then add the Array Elements as Rows using the explode function
      # i.e. explode Arrays
      elif (type(complex_fields[col_name]) == ArrayType):    
         df=df.withColumn(col_name,explode_outer(col_name))
    
      # recompute remaining Complex Fields in Schema       
      complex_fields = dict([(field.name, field.dataType)
                             for field in df.schema.fields
                             if type(field.dataType) == ArrayType or  type(field.dataType) == StructType])
   return df

In [14]:
TABLE_DICT = json.loads(args['TABLES'])
JOIN_COLUMNS_DELTA_DICT = json.loads(args['JOIN_COLUMNS_DELTA'])
JOIN_COLUMNS_INCREMENTAL_DICT = json.loads(args['JOIN_COLUMNS_INCREMENTAL'])

for TABLE in TABLE_DICT:
    BRONZE_TABLE_PATH="s3a://" + args['S3_BUCKET'] + "/" + args['BRONZE_LAYER_NAMESPACE'] + "/" + TABLE
    SILVER_TABLE_PATH="s3a://" + args['S3_BUCKET'] + "/" + args['SILVER_LAYER_NAMESPACE'] + "/" + TABLE
    merge_data_to_delta(BRONZE_TABLE_PATH, SILVER_TABLE_PATH, args['JOB_DATE'], TABLE, TABLE_DICT[TABLE],  JOIN_COLUMNS_DELTA_DICT[TABLE], JOIN_COLUMNS_INCREMENTAL_DICT[TABLE])

Delta table does not exist
root
 |-- order_number: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- order_date: date (nullable = true)
 |-- units: integer (nullable = true)
 |-- sale_price: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- order_mode: string (nullable = true)
 |-- updated_at: timestamp (nullable = true)
 |-- sale_price_usd: float (nullable = true)

+------------+-----------+----------+----------+-----+----------+--------+----------+-------------------+--------------+
|order_number|customer_id|product_id|order_date|units|sale_price|currency|order_mode|         updated_at|sale_price_usd|
+------------+-----------+----------+----------+-----+----------+--------+----------+-------------------+--------------+
|           1|        212|         5|2019-02-03|   10|      11.6|     USD|       NEW|2023-01-12 18:20:59|          11.6|
|           2|       1940|        10|2020-06-24|    8|     72.31|     USD|       NEW|2023-01-12 18:20:59|         72.31|
|           3|         60|         6|2019-02-11|    4|     24.82|     INR|       NEW|2023-01-12 18:20:59|     0.3040549|
|           4|       2776|         6|2018-05-20|    4|     20.91|     USD|       NEW|2023-01-12 18:20:59|         20.91|
|           5|        409|         9|2019-07-05|    5|     98.41|     INR|       NEW|2023-01-12 18:20:59|     1.2055616|
|           6|        978|         6|2020-12-16|    1|       6.9|     USD|       NEW|2023-01-12 18:20:59|           6.9|
|           7|       2904|         6|2021-01-04|    1|     71.56|     EUR|       NEW|2023-01-12 18:20:59|      77.78261|
|           8|       1269|         3|2018-08-11|    6|     47.67|     USD|       NEW|2023-01-12 18:20:59|         47.67|
|           9|       2628|         5|2017-01-16|    1|     59.05|     EUR|       NEW|2023-01-12 18:20:59|     64.184784|
|          10|       1672|         8|2020-08-01|    3|     43.42|     USD|       NEW|2023-01-12 18:20:59|         43.42|
+------------+-----------+----------+----------+-----+----------+--------+----------+-------------------+--------------+
only showing top 10 rows

root
 |-- order_number: integer (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: integer (nullable = true)
 |-- order_date: date (nullable = true)
 |-- units: integer (nullable = true)
 |-- sale_price: double (nullable = true)
 |-- currency: string (nullable = true)
 |-- order_mode: string (nullable = true)
 |-- updated_at: timestamp (nullable = true)
 |-- sale_price_usd: float (nullable = true)

+------------+-----------+----------+----------+-----+----------+--------+----------+-------------------+--------------+
|order_number|customer_id|product_id|order_date|units|sale_price|currency|order_mode|         updated_at|sale_price_usd|
+------------+-----------+----------+----------+-----+----------+--------+----------+-------------------+--------------+
|        2501|        568|         3|2020-04-05|   10|     68.07|     USD|      EDIT|2023-01-12 18:51:44|         68.07|
|        2502|        825|         4|2017-03-29|    7|     50.44|     INR|      EDIT|2023-01-12 18:51:44|     0.6179101|
|        2503|        616|        10|2019-07-27|    6|     82.61|     USD|      EDIT|2023-01-12 18:51:44|         82.61|
|        2504|        606|        10|2018-12-05|    9|     77.29|     EUR|      EDIT|2023-01-12 18:51:44|      84.01087|
|        2505|        550|         2|2020-06-30|    8|     98.87|     INR|      EDIT|2023-01-12 18:51:44|     1.2111969|
|        2506|        848|         3|2018-10-28|    2|     41.32|     USD|      EDIT|2023-01-12 18:51:44|         41.32|
|        2507|        810|         8|2020-11-08|    7|     89.12|     EUR|      EDIT|2023-01-12 18:51:44|      96.86957|
|        2508|        761|         2|2019-09-10|    2|     91.49|     EUR|      EDIT|2023-01-12 18:51:44|     99.445656|
|        2509|        918|         8|2019-09-05|    2|     44.68|     CAD|      EDIT|2023-01-12 18:51:44|     33.593987|
|        2510|        883|        10|2018-01-07|    4|     10.56|     USD|      EDIT|2023-01-12 18:51:44|         10.56|
+------------+-----------+----------+----------+-----+----------+--------+----------+-------------------+--------------+
only showing top 10 rows

Delta table exists
Delta table does not exist
root
 |-- customer_id: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- postalcode: string (nullable = true)
 |-- updated_at: timestamp (nullable = true)
 |-- email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- credit_card: string (nullable = true)
 |-- address: string (nullable = true)

+-----------+--------------+-----------+----------+-------------------+--------------------+-------+--------------------+--------------------+--------------------+
|customer_id| customer_name|       city|postalcode|         updated_at|               email|country|               phone|         credit_card|             address|
+-----------+--------------+-----------+----------+-------------------+--------------------+-------+--------------------+--------------------+--------------------+
|          1|    Ariel Hale|    College|     98362|2023-01-12 18:20:58|amet.metus@nullat...|    USA|b5dd92eff3d588b48...|0e60b1a0c46e2f4a8...|bad715752fbd90260...|
|          2| Aubrey Norris| Coldstream|   D10 5JV|2023-01-12 18:20:58|sollicitudin@enim...|     UK|fd4e9edb642956e26...|487ee4019eb121c23...|c7581221e6ecafb90...|
|          3|  Bruno Hebert| Llangollen|   CE2 4WW|2023-01-12 18:20:58|donec.non@dapibus...|     UK|0f9f96ffbad2f6792...|6ad491149719bded6...|b574810a5bb2d8cbe...|
|          4|     Ira Lucas| Shreveport|     67365|2023-01-12 18:20:58|      nec@lectus.net|    USA|20222bde4ed443685...|e6541ff49869b0395...|859574d23810fe994...|
|          5|Hannah Ferrell|Watson Lake|   C6Y 7M3|2023-01-12 18:20:58|nec@orciluctuset....|    CAN|73c857e4eb80dde21...|5b5cdd2d82bfcdcec...|65897909eb6c663ef...|
|          6|   May Bentley| Chilliwack|   E5R 9R0|2023-01-12 18:20:58|egestas@sedeueros...|    CAN|004ef30cb39b1ede6...|a89dfd1ab0e6dfaf8...|0500ea20e89af55a6...|
|          7|   Tariq Singh|    Silchar|    968978|2023-01-12 18:20:58|luctus.ut@euismod...|    IND|fae9b624b2a01a809...|fbc2369143f3529ab...|6cce8c6637137eca0...|
|          8|Serina Serrano|   Auldearn|   K52 0FY|2023-01-12 18:20:58|phasellus.ornare@...|     UK|79cb4c7e194377a10...|e966e4b06e9a7baf3...|e3cdcf9e9dabe3bec...|
|          9|    Ishrat Raj|     Aizwal|    630461|2023-01-12 18:20:58|consectetuer@eges...|    IND|9ccd97e2e0e3cd3aa...|df2e50aaa07f40a4c...|688e11f0551d28156...|
|         10|   Nelle Frost|Watson Lake|   K9N 0V4|2023-01-12 18:20:58|sapien.imperdiet@...|    CAN|db693e6d5ab3a2d32...|46455c3ffc4f4a4c7...|258ee2462b43b6e4d...|
+-----------+--------------+-----------+----------+-------------------+--------------------+-------+--------------------+--------------------+--------------------+
only showing top 10 rows

root
 |-- customer_id: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- postalcode: string (nullable = true)
 |-- updated_at: timestamp (nullable = true)
 |-- email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- credit_card: string (nullable = true)
 |-- address: string (nullable = true)

+-----------+-----------------+----------------+----------+-------------------+--------------------+-------+--------------------+--------------------+--------------------+
|customer_id|    customer_name|            city|postalcode|         updated_at|               email|country|               phone|         credit_card|             address|
+-----------+-----------------+----------------+----------+-------------------+--------------------+-------+--------------------+--------------------+--------------------+
|       3001|     Adele Newman|      Llanidloes|   W67 8IH|2023-01-12 18:51:44|commodo@pretiumet...|     UK|46e4996257caf6bfe...|e604a587f67fbef8c...|f2b96b19d4010589d...|
|       3002|Odysseus Guerrero|    Grande Cache|   G0B 0H1|2023-01-12 18:51:44|donec.feugiat.met...|    CAN|34daeeef722fd66c5...|ce014df56aaccc09f...|b193805258a00bb44...|
|       3003|   Holmes Salinas|West Valley City|     16753|2023-01-12 18:51:44|ante.nunc.mauris@...|    USA|dc99a833917aa055e...|a94461a8d653c0b4e...|c8b1f7656dc2d0931...|
|       3004|     Asher Benton|        Warspite|   G0W 5S5|2023-01-12 18:51:44|eu.nibh.vulputate...|    CAN|9c271663b643b6fa6...|0acee52105cfcd139...|63d336cd25ebe4927...|
|       3005|        Shay Love|      Fort Laird|   R5X 5E5|2023-01-12 18:51:44|duis.cursus@mauri...|    CAN|44d5be590a554d584...|19c92a46a924bb199...|c940d47d1529f4941...|
|       3006|  Sophia Kirkland|      Pontypridd|    M0 6IY|2023-01-12 18:51:44|cras.interdum@tel...|     UK|68200a54db3bdccef...|2c0a8ae59deb460f5...|69034f8975bc50621...|
|       3007|       Macy Marsh|          Toledo|     62682|2023-01-12 18:51:44|amet@pedeetrisus.edu|    USA|fd7d3c323590b456a...|a225b48697d0b6ece...|c0708a41af46f58c6...|
|       3008|      Ariel Riggs|         Orlando|     59391|2023-01-12 18:51:44|    eros@urnanec.edu|    USA|90e04aae7dd87f631...|425c16a73954437a6...|b6074262188b13655...|
|       3009|    Kaye Gallegos|     Blind River|   S5N 5L4|2023-01-12 18:51:44|      ipsum@enim.org|    CAN|9d29a242931e81c6b...|ae72bde88b4c0aadd...|845d6ab439b15a09b...|
|       3010|        Maya Khan|      Port Blair|    197381|2023-01-12 18:51:44|arcu.sed@fermentu...|    IND|3b7d73e2bb853e145...|fb513376a8afb9779...|ccac04ad44cf18362...|
+-----------+-----------------+----------------+----------+-------------------+--------------------+-------+--------------------+--------------------+--------------------+
only showing top 10 rows

Delta table exists
Delta table does not exist
root
 |-- product_code: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- updated_at: timestamp (nullable = true)

+------------+--------------+-----------------+-------------------+
|product_code|  product_name| product_category|         updated_at|
+------------+--------------+-----------------+-------------------+
|           1|         Watch|        Wearables|2023-01-12 18:20:58|
|           2|        Vaccum|    HomeAppliance|2023-01-12 18:20:58|
|           3|Airconditioner|    HomeAppliance|2023-01-12 18:20:58|
|           4|     Microwave|    HomeAppliance|2023-01-12 18:20:58|
|           5|           DVD|HomeEntertainment|2023-01-12 18:20:58|
|           6|            TV|HomeEntertainment|2023-01-12 18:20:58|
|           7|      Keyboard|        Computers|2023-01-12 18:20:58|
|           8|          Mice|        Computers|2023-01-12 18:20:58|
|           9|       Monitor|        Computers|2023-01-12 18:20:58|
|          10|        Mobile|           Phones|2023-01-12 18:20:58|
+------------+--------------+-----------------+-------------------+

In [16]:
IPLOCATION_SCHEMA =[
    ('ip1', IntegerType()),
    ('ip2', IntegerType()),
    ('country_code', StringType()),
    ('country_name', StringType())
]

ipfields = [StructField(*field) for field in IPLOCATION_SCHEMA]
schema_iplocation = StructType(ipfields)

IPLOCATION_PATH="s3a://" + args['ECOMMERCE_LOGS_BUCKET'] + "/" + "iplocation/"
df_iplocation = spark.read.csv(IPLOCATION_PATH, schema=schema_iplocation)
df_iplocation.registerTempTable('iplocation')

LOGS_SCHEMA =[
    ('time', StringType()),
    ('remote_ip', StringType()),
    ('country_name', StringType()),
    ('ip_number', IntegerType()),
    ('request', StringType()),
    ('response', StringType()),
    ('agent', StringType())
]

logfields = [StructField(*field) for field in LOGS_SCHEMA]
schema_logs = StructType(logfields)

ECOMMERCE_LOGS_PATH="s3a://" + args['ECOMMERCE_LOGS_BUCKET'] + "/" + "ecommerce_logs/"
df_ecommerce_logs = spark.read.json(ECOMMERCE_LOGS_PATH, schema=schema_logs)
df_ecommerce_logs = df_ecommerce_logs.withColumn('ip_number',ip_to_country_udf('remote_ip'))
df_ecommerce_logs = df_ecommerce_logs.withColumn("ip_number_int", df_ecommerce_logs['ip_number'].cast('int')).drop('ip_number').withColumnRenamed('ip_number_int', 'ip_number')
df_ecommerce_logs.registerTempTable('ecommerce')

df_ecommerce_country = spark.sql("SELECT e.time, e.remote_ip, i.country_name, e.ip_number, e.request, e.response, e.agent " \
                                 " FROM ecommerce e JOIN iplocation i WHERE ip1 <= ip_number AND ip2 >= ip_number")

ECOMM_LOGS_SILVER_TABLE_PATH="s3a://" + args['S3_BUCKET'] + "/" + args['SILVER_LAYER_NAMESPACE'] + "/" + "ecommerce_country"

try:   
    deltaTable = DeltaTable.forPath(spark, ECOMM_LOGS_SILVER_TABLE_PATH)
    if deltaTable:
        deltaTable.alias("logs").merge(
             df_ecommerce_country.alias("logs_incr"),
             "logs.remote_ip = logs_incr.remote_ip") \
            .whenNotMatchedInsertAll() \
            .execute()
        
except:
    print("Delta table does not exist")
    df_ecommerce_country.write.format("delta").save(ECOMM_LOGS_SILVER_TABLE_PATH)

In [29]:
import pyspark.sql.functions as F
def flatten_df(nested_df):
    flat_cols = [c[0] for c in nested_df.dtypes if c[1][:6] != 'struct']
    nested_cols = [c[0] for c in nested_df.dtypes if c[1][:6] == 'struct']

    flat_df = nested_df.select(flat_cols +
                               [F.col(nc+'.'+c).alias(nc+'_'+c)
                                for nc in nested_cols
                                for c in nested_df.select(nc+'.*').columns])
    return flat_df

In [32]:
#ECOMMERCE_TABLE_PATH="s3a://" + args['S3_BUCKET'] + "/" + args['BRONZE_LAYER_ECOMMERCE_NAMESPACE'] + "/" + args['ECOMMERCE_STREAM_DATE']
ECOMMERCE_TABLE_PATH="s3a://aws-analytics-course/temp/json/eCommStreamDelivery-1-2023-01-11-23-38-31-2b69733f-1123-48cc-95ff-5307e084fcc5"
df_ecommerce = spark.read.json(ECOMMERCE_TABLE_PATH)
df_ecommerce=df_ecommerce.select('data')
df_ecommerce=flatten_df(df_ecommerce)
df_ecommerce.printSchema()
df_ecommerce.show()

root
 |-- data_address: string (nullable = true)
 |-- data_city: string (nullable = true)
 |-- data_country: string (nullable = true)
 |-- data_currency: string (nullable = true)
 |-- data_customer_name: string (nullable = true)
 |-- data_email: string (nullable = true)
 |-- data_order_date: string (nullable = true)
 |-- data_order_mode: string (nullable = true)
 |-- data_order_number: string (nullable = true)
 |-- data_phone: string (nullable = true)
 |-- data_postalcode: string (nullable = true)
 |-- data_product_name: string (nullable = true)
 |-- data_sale_price: string (nullable = true)

+--------------------+---------+------------+-------------+------------------+--------------------+---------------+---------------+-----------------+--------------+---------------+-----------------+---------------+
|        data_address|data_city|data_country|data_currency|data_customer_name|          data_email|data_order_date|data_order_mode|data_order_number|    data_phone|data_postalcode|data_product_name|data_sale_price|
+--------------------+---------+------------+-------------+------------------+--------------------+---------------+---------------+-----------------+--------------+---------------+-----------------+---------------+
|Ap #255-3031 Dui ...| Billings|         USA|          EUR|        Julie Rich|Donec.felis@neque...|     18/05/2021|            NEW|              385|1-528-884-4331|          80834|        microwave|          32.34|
+--------------------+---------+------------+-------------+------------------+--------------------+---------------+---------------+-----------------+--------------+---------------+-----------------+---------------+

In [33]:
df_ecommerce1=spark.read.parquet("s3://aws-analytics-course/bronze/kinesis/2023/01/31/02/eCommStreamDelivery-2-2023-01-31-02-38-51-a8696e2c-d14d-4394-97b6-7aa79bb6d616.parquet")

In [35]:
df_ecommerce1=flatten_df(df_ecommerce1)
df_ecommerce1.show()

+----+--------------+---------------+----------+-----------+------------------+--------------------+-------------+---------------+------------+----------------+--------------------+-----------------+---------------+-------------+---------------+---------------+-----------------+
|  id|     eventtype|        subject| eventtime|dataversion|data_customer_name|        data_address|    data_city|data_postalcode|data_country|      data_phone|          data_email|data_product_name|data_order_date|data_currency|data_order_mode|data_sale_price|data_order_number|
+----+--------------+---------------+----------+-----------+------------------+--------------------+-------------+---------------+------------+----------------+--------------------+-----------------+---------------+-------------+---------------+---------------+-----------------+
|3001|recordInserted|ecomm/customers|2021-01-01|        1.0|        Julie Rich|Ap #255-3031 Dui ...|     Billings|          80834|         USA|  1-528-884-4331|Donec.felis@neque...|        microwave|     18/05/2021|          EUR|            NEW|          32.34|              385|
|3002|recordInserted|ecomm/customers|2021-01-01|        1.0|     Ratnali Kumar|Ap #476-7527 Aene...|     Bhilwara|         827484|       India|  +91 0952796185|Donec.feugiat@fel...|        microwave|     18/05/2021|          USD|            NEW|          44.45|              386|
|3003|recordInserted|ecomm/customers|2021-01-01|        1.0|         Eden Byrd|        3840 Sed St.|Milton Keynes|        C4T 5H5|          UK|    00505 931979| lorem@idmagnaet.org|        microwave|     18/05/2021|          USD|            NEW|          64.68|              387|
|3004|recordInserted|ecomm/customers|2021-01-01|        1.0|      Cara Swanson|P.O. Box 998, 288...|   Harrisburg|          65895|         USA|  1-375-910-8385|velit.justo@lacus...|        microwave|     18/05/2021|          INR|            NEW|          74.65|              388|
|3005|recordInserted|ecomm/customers|2021-01-01|        1.0|   Chaney Figueroa|546-5675 Pellente...| Newport News|          23276|         USA|  1-853-137-7417|hymenaeos@Suspend...|        microwave|     18/05/2021|          EUR|            NEW|          85.48|              389|
|3006|recordInserted|ecomm/customers|2021-01-01|        1.0|      Naval Ismail|     3687 Magnis Rd.|     Itanagar|         747675|       India|  +91 6997655593|fringilla.est.Mau...|        microwave|     18/05/2021|          EUR|            NEW|          16.77|              390|
|3007|recordInserted|ecomm/customers|2021-01-01|        1.0|    Calista French|P.O. Box 462, 559...|    Flin Flon|        H5X 5P1|      Canada| 1 (879) 192-881|Etiam.vestibulum@...|        microwave|     18/05/2021|          USD|            NEW|          17.98|              391|
|3008|recordInserted|ecomm/customers|2021-01-01|        1.0|        Magee Cash|P.O. Box 728, 323...|   Chesapeake|          46087|         USA|  1-488-816-9178|ultrices.Vivamus@...|        microwave|     18/05/2021|          CAD|            NEW|          94.88|              392|
|3009|recordInserted|ecomm/customers|2021-01-01|        1.0|     Alvin Russell|P.O. Box 333, 582...|    New Haven|          14867|         USA|  1-117-280-4751|egestas@leoMorbi.com|        microwave|     18/05/2021|          INR|            NEW|          24.98|              393|
|3010|recordInserted|ecomm/customers|2021-01-01|        1.0|   Chadwick Hebert|  Ap #556-497 In Ave|     Hamilton|        K3W 8V9|      Canada|1 (365) 681-6481|     elit@cursus.org|        microwave|     18/05/2021|          CAD|            NEW|          17.70|              394|
|3012|recordInserted|ecomm/customers|2021-01-01|        1.0|      Vera Russell|Ap #934-9975 Iacu...| Bognor Regis|        RF1 3IR|          UK|    01717 566325|    sociosqu@dui.org|        microwave|     19/05/2021|          EUR|            NEW|          45.33|              398|
|3013|recordInserted|ecomm/customers|2021-01-01|        1.0|        Linda Pugh|Ap #598-6303 Cum ...|   Gloucester|        P1P 6B5|      Canada|1 (450) 461-4621|tincidunt@tempuse...|        microwave|     19/05/2021|          CAD|            NEW|          65.32|              399|
|3014|recordInserted|ecomm/customers|2021-01-01|        1.0|      Brynn Nelson|     7635 Dictum Rd.|       Boston|          75124|         USA|  1-769-479-6047|nonummy.ultricies...|        microwave|     19/05/2021|          USD|            NEW|         105.44|              400|
|3015|recordInserted|ecomm/customers|2021-01-01|        1.0|       Nelle Moore|     5495 Magna. Ave|     McCallum|        H3K 0A4|      Canada|1 (416) 966-3866|ultrices.a@leo.co.uk|        microwave|     19/05/2021|          CAD|            NEW|          54.33|              401|
|3016|recordInserted|ecomm/customers|2021-01-01|        1.0|     Ignacia Price|      6009 Ipsum Av.|      Lerwick|         J0 3WK|          UK|    06818 437518|non@facilisisvita...|        microwave|     19/05/2021|          EUR|            NEW|          55.33|              402|
|3017|recordInserted|ecomm/customers|2021-01-01|        1.0|     Ciara Salinas|758-7308 Mauris. Rd.|   Burlington|          95877|         USA|  1-276-382-6027|ullamcorper.velit...|        microwave|     19/05/2021|          USD|            NEW|          76.29|              403|
|3018|recordInserted|ecomm/customers|2021-01-01|        1.0|   Beatrice Tucker|  649-7099 Nulla St.|       Oakham|       QE23 6GA|          UK|    04484 843599|ullamcorper.Duis@...|        microwave|     19/05/2021|          EUR|            NEW|          98.11|              404|
|3019|recordInserted|ecomm/customers|2021-01-01|        1.0|     Brenna Robles|246-3360 Venenati...|    Stratford|        N4R 2M9|      Canada|1 (403) 201-6443|      dui@ligula.edu|        microwave|     19/05/2021|          CAD|            NEW|          90.56|              405|
|3020|recordInserted|ecomm/customers|2021-01-01|        1.0|   Beverly Tillman|501-9350 Mauris S...|     Jedburgh|       PO3C 0VI|          UK|    07464 422658|tempor.bibendum.D...|        microwave|     19/05/2021|          EUR|            NEW|          17.70|              406|
|3011|recordInserted|ecomm/customers|2021-01-01|        1.0|  Kenyon Daugherty|      1339 Elit. Ave|   Birmingham|          14456|         USA|  1-236-491-4683|lacus.Mauris@nonu...|        microwave|     19/05/2021|          EUR|            NEW|          17.70|              397|
+----+--------------+---------------+----------+-----------+------------------+--------------------+-------------+---------------+------------+----------------+--------------------+-----------------+---------------+-------------+---------------+---------------+-----------------+